

<ons-page ng-controller="MainController">
    <ons-toolbar>
        <div class="center">DeviceConnect Sample App</div>
    </ons-toolbar>

    <ons-list style="padding: 5px;">
        <ons-list-item modifier="chevron" ng-click="lauchDevicePlugin()">
            List all available plugins
        </ons-list-item>
    </ons-list>

    <ons-list style="padding: 5px;">
        <ons-list-item modifier="chevron" ng-click="lauchHueSpec()">
            TEST Hue Specification
        </ons-list-item>
    </ons-list>

    <br/>
    <br/>
    <a href="../index.html">Back to Home</a>

</ons-page>