<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="monaca-plugin-deviceconnect"
    version="1.0.0">

    <name>DeviceConnect</name>
    <description>DeviceConnect WebAPI is WebAPI which operates as a virtual server on a smart phone. It can use easily various wearable devices and an IoT device by unific description from a web browser or an application.</description>
    <license>MIT</license>

    <repo>https://github.com/saysotheara/cordova-plugin-iot.git</repo>
    <issue>https://github.com/saysotheara/cordova-plugin-iot/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/deviceConnect.js" name="DeviceConnect">
        <clobbers target="monaca.plugins.deviceConnect" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceConnect">
                <param name="android-package" value="io.monaca.plugin.DeviceConnect" />
            </feature>
        </config-file>

        <source-file src="src/android/libs/Library" target-dir="libs"/>

        <hook type="after_plugin_install" src="src/android/libs/after_plugin.js" />

        <source-file src="src/android/io/monaca/plugin/DeviceConnect.java" target-dir="src/io/monaca/plugin" />

    </platform>

</plugin>
